@charset "utf-8";

* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-text-size-adjust: none;}
body {color: #444; line-height:1.2; letter-spacing:0;}
html, body, div, span, object, iframe,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main, summary,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
form, fieldset, legend, input, label, button, textarea, select, textarea, input,
table, caption, tbody, tfoot, thead, tr, th, td,
b, i, dl, dt, dd, ol, ul, li,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
time, mark, audio, video, a {margin:0; padding:0;  }
fieldset, img {border:0 none; }
img {display:block; height:auto; vertical-align:middle; }
legend, caption {position:absolute; height:0; line-height:0; font-size:0; overflow:hidden; }
input,
textarea,
button,
select {-webkit-appearance:none;-moz-appearance:none;appearance:none; }
select {padding-left:0; }
select::-ms-expand {display: none; }
option {vertical-align:middle; padding:3px 0; }
address, cite, code, dfn, em, var ,i {font-style:normal; font-weight:normal; }

h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:100%; }
ul, ol, li {list-style:none; }
a {cursor:pointer; text-decoration:none; }
a:hover, a:active, a:focus {text-decoration:none; }
button {display: inline-block; border:0 none; background-color:transparent; cursor:pointer; }
header, footer, article, section, aside, details, figcaption, figure, hgroup, menu, nav, time, main {display:block; margin:0; padding:0; }
audio[controls], canvas, video {display: block; }
input[type="text"] {border: 0;}
input[type="text"]::-ms-clear {display:none;}
input[type="radio"], input[type="checkbox"], input[type="tel"] {border:0 none;vertical-align:middle;}
input[type="number"] {-moz-appearace:textfield;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {-webkit-appearance:none;}
input:focus, textarea:focus, select:focus, button:focus {outline:none !important; }
input:focus {/*caret-color:#ff626f;*/}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none; margin:0; }
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {display: none; }

table {width:100%; empty-cells:show; border-collapse:collapse; border-spacing:0; }
img {display:block; max-width:100%; height:auto; }
sup {position:relative; top:-0.5em; vertical-align:baseline; }

::-webkit-input-placeholder {color:#999; }
::-moz-placeholder {color:#999; }
:-moz-placeholder {color:#999; }
:-ms-input-placeholder {color:#999; }

section:after,
.container:after,
.clearfix:after {content:""; clear:both; display:block; height:0; visibility:hidden; }

.float-left {float:left; }
.float-right {float:right; }
.float-none {float:none; clear:both; }

.abled {pointer-events:auto; }
.hide {font-size:0; height:0; text-indent:100%; white-space:nowrap; overflow:hidden; }

.inline {display: inline;}
.inline-block {display: inline-block;}
.block {display: block;}

.align-center,
.text-center {text-align:center !important;}
.align-left,
.text-left {text-align:left !important;}
.align-right,
.text-right {text-align:right !important;}

.align-top {vertical-align: top !important;}
.align-middle {vertical-align: middle !important;}
.align-bottom {vertical-align: bottom !important;}

.text-normal {font-weight: bold !important;}
.text-bold {font-weight: bold !important;}

.noscroll {overflow-y:hidden !important; height:100%; }

.img-replace {display:inline-block; color:transparent; overflow:hidden; text-indent:100%; white-space:nowrap; }

#size-test {color:red !important;}

/* misc */
.mgt5 {margin-top: 5px!important}
.mgt10 {margin-top: 10px!important}
.mgt15 {margin-top: 15px!important}
.mgt20 {margin-top: 20px!important}
.mgt25 {margin-top: 25px!important}
.mgt30 {margin-top: 30px!important}
.mgt35 {margin-top: 35px!important}
.mgt40 {margin-top: 40px!important}
.mgt45 {margin-top: 45px!important}
.mgt50 {margin-top: 50px!important}
.mgt100{margin-top:100px !important}

.mgr5 {margin-right: 5px!important}
.mgr10 {margin-right: 10px!important}
.mgr15 {margin-right: 15px!important}
.mgr20 {margin-right: 20px!important}
.mgr25 {margin-right: 25px!important}
.mgr30 {margin-right: 30px!important}
.mgr35 {margin-right: 35px!important}
.mgr40 {margin-right: 40px!important}
.mgr45 {margin-right: 45px!important}
.mgr50 {margin-right: 50px!important}

.mgb5 {margin-bottom: 5px!important}
.mgb10 {margin-bottom: 10px!important}
.mgb15 {margin-bottom: 15px!important}
.mgb20 {margin-bottom: 20px!important}
.mgb25 {margin-bottom: 25px!important}
.mgb30 {margin-bottom: 30px!important}
.mgb35 {margin-bottom: 35px!important}
.mgb40 {margin-bottom: 40px!important}
.mgb45 {margin-bottom: 45px!important}
.mgb50 {margin-bottom: 50px!important}

.mgl5 {margin-left: 5px!important}
.mgl10 {margin-left: 10px!important}
.mgl15 {margin-left: 15px!important}
.mgl20 {margin-left: 20px!important}
.mgl25 {margin-left: 25px!important}
.mgl30 {margin-left: 30px!important}
.mgl35 {margin-left: 35px!important}
.mgl40 {margin-left: 40px!important}
.mgl45 {margin-left: 45px!important}
.mgl50 {margin-left: 50px!important}

.pdt5 {padding-top: 5px!important}
.pdt10 {padding-top: 10px!important}
.pdt15 {padding-top: 15px!important}
.pdt20 {padding-top: 20px!important}
.pdt25 {padding-top: 25px!important}
.pdt30 {padding-top: 30px!important}
.pdt35 {padding-top: 35px!important}
.pdt40 {padding-top: 40px!important}
.pdt45 {padding-top: 45px!important}
.pdt50 {padding-top: 50px!important}

.pdr5 {padding-right: 5px!important}
.pdr10 {padding-right: 10px!important}
.pdr15 {padding-right: 15px!important}
.pdr20 {padding-right: 20px!important}
.pdr25 {padding-right: 25px!important}
.pdr30 {padding-right: 30px!important}
.pdr35 {padding-right: 35px!important}
.pdr40 {padding-right: 40px!important}
.pdr45 {padding-right: 45px!important}
.pdr50 {padding-right: 50px!important}

.pdb5 {padding-bottom: 5px!important}
.pdb10 {padding-bottom: 10px!important}
.pdb15 {padding-bottom: 15px!important}
.pdb20 {padding-bottom: 20px!important}
.pdb25 {padding-bottom: 25px!important}
.pdb30 {padding-bottom: 30px!important}
.pdb35 {padding-bottom: 35px!important}
.pdb40 {padding-bottom: 40px!important}
.pdb45 {padding-bottom: 45px!important}
.pdb50 {padding-bottom: 50px!important}

.pdl5 {padding-left: 5px!important}
.pdl10 {padding-left: 10px!important}
.pdl15 {padding-left: 15px!important}
.pdl20 {padding-left: 20px!important}
.pdl25 {padding-left: 25px!important}
.pdl30 {padding-left: 30px!important}
.pdl35 {padding-left: 35px!important}
.pdl40 {padding-left: 40px!important}
.pdl45 {padding-left: 45px!important}
.pdl50 {padding-left: 50px!important}

.mw0{min-width:auto!important}


.fs13{font-size: .87rem !important;}
.fs14{font-size: .93rem !important;}
.fs15{font-size: 1rem !important;}
.fs16{font-size: 1.07rem !important;}
.fs18{font-size: 1.2rem !important;}
.fs20{font-size: 1.33rem !important;}

.fc_black{color: #000 !important;}
.fc_default{color: #333 !important;}
.fc_gray1{color: #666 !important;}
.fc_gray2{color: #888 !important;}
.fc_gray3{color: #ccc !important;}
.fc_blue{color: #126abd !important;}
.fc_red{color: #e91220 !important;}
