<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0" />
	<meta name="format-detection" content="telephone=no"/>
	<title>회원탈퇴</title>

	<!-- [common css] -->
	<link rel="stylesheet" type="text/css" href="../asset/css/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../asset/css/frame.css" />
	<link rel="stylesheet" type="text/css" href="../asset/css/contents.css" />
	<link rel="stylesheet" type="text/css" href="../asset/css/popup.css" />

	<!-- [common js] : 전체 페이지 공통사용 스크립트만 기재. 페이지별 독립 스크립트는 페이지 하단의 스크립트영역에 추가. -->
	<script type="text/javascript" src="../asset/js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="../asset/js/common.js"></script>

	<!-- [vendor] -->
	<!-- swiper -->
	<link rel="stylesheet" type="text/css" href="../asset/vendor/swiper/swiper.css" />
	<script type="text/javascript" src="../asset/vendor/swiper/swiper.js"></script>
	<!-- bootstrap-3.4.1 -->
	<script type="text/javascript" src="../asset/vendor/bootstrap/bootstrap-3.4.1.min.js"></script>
</head>

<body>

	<div id="wrapper">
		<header>
			<div class="container">
				<h1><a href="#" title="홈">전기안전여기로</a></h1>
				<div class="gnb">
					<ul>
						<li><a href="#none" class="depth1" title="민원신청 메뉴">민원신청</a>
							<ul>
								<!-- 활성화 active -->
								<li><a href="#"  class="active" title="민원신청안내 페이지로이동">민원신청안내</a></li>
								<li><a href="#" title="공사계획신고 페이지로이동">공사계획신고</a></li>
								<li><a href="#" title="사용전검사 페이지로이동">사용전검사</a></li>
								<li><a href="#" title="사용전점검 페이지로이동">사용전점검</a></li>
								<li><a href="#" title="정기검사 페이지로이동">정기검사</a></li>
								<li><a href="#" title="전기안전점검 페이지로이동">전기안전점검</a></li>
								<li><a href="#" title="안전진단 페이지로이동">안전진단</a></li>
								<li><a href="#" title="안전관리대행(계약) 페이지로이동">안전관리대행(계약)</a></li>
							</ul>
						</li>
						<li><a href="#none" class="depth1" title="수수료안내/납부 메뉴">수수료안내/납부</a>
							<ul>
								<li><a href="#" title="수수료 안내 페이지로이동">수수료 안내</a></li>
								<li><a href="#" title="수수료 결제 페이지로이동">수수료 결제</a></li>
								<li><a href="#" title="전자세금계산서 확인 페이지로이동">전자세금계산서 확인</a></li>
							</ul>
						</li>
						<li><a href="#none" class="depth1" title="알림마당 메뉴">알림마당</a>
							<ul>
								<li><a href="#" title="민원신청 이용안내 페이지로이동">민원신청 이용안내</a></li>
								<li><a href="#" title="공지사항 페이지로이동">공지사항</a></li>
								<li><a href="#" title="자주묻는 질문(FAQ) 페이지로이동">자주묻는 질문(FAQ)</a></li>
								<li><a href="#" title="질문 답변(Q&amp;A) 페이지로이동">질문 답변(Q&amp;A)</a></li>
								<li><a href="#" title="통합자료실 페이지로이동">통합자료실</a></li>
								<li><a href="#" title="확인증 진위확인 페이지로이동">확인증 진위확인</a></li>
							</ul>
						</li>
						<li><a href="#none" class="depth1" title="나의민원 메뉴">나의민원</a>
							<ul>
								<li><a href="#" title="민원신청 내역 페이지로이동">민원신청 내역</a></li>
								<li><a href="#" title="사용전점검 결과확인 페이지로이동">사용전점검 결과확인</a></li>
								<li><a href="#" title="위임자 관리 페이지로이동">위임자 관리</a></li>
								<li><a href="#" title="협업자 관리 페이지로이동">협업자 관리</a></li>
								<li><a href="#" title="설비정보 관리 페이지로이동">설비정보 관리</a></li>
								<li><a href="#" title="업체 등록정보 관리 페이지로이동">업체 등록정보 관리</a></li>
								<li><a href="#" title="전기안전관리자 점검관리페이지로이동">전기안전관리자 점검관리</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<ul class="utility">
					<!-- <li><a href="#" title="로그인">로그인</a></li>
					<li><a href="#" title="회원가입">회원가입</a></li> -->
					<li><a href="#">로그아웃</a></li>
					<li><a href="#" title="마이페이지">마이페이지</a></li>

					<!-- 로그인 여부와 관계없이 항상 보인다 -->
					<li><a href="#" title="사이트맵"><span></span></a></li>
				</ul>
			</div>
		</header>

		<nav class="pnb">
			<div class="container">
				<!--
					-1뎁스 카테고리.
					-선택하면 해당 페이지로 이동.
					-이동페이지는 해당 뎁스의 2뎁스 첫 번째.(eg: 1뎁스 민원신청을 누르면 2뎁스 민원신청안내 페이지로 이동)
					-로그인처럼 독립 메뉴는 .lnb에 .none을 붙여준다.
				-->
				<div class="lnb none">
					<ul>
						<li><a href="#none" class="depth1" tabindex="-1">마이페이지</a></li>
					</ul>
				</div>
				<!--
					-2뎁스 카테고리.
					-1뎁스에 해당하는 2뎁스 메뉴 표기
					-위에서 1뎁스 민원신청을 누르면 민원신청안내 페이지로 이동되고
					-1뎁스에 해당되는 2뎁스 메뉴를 뿌려준후, current메뉴 표기.
					-같은 1뎁스 메뉴이동시는 해당 2뎁스 메뉴를 활성화
					-로그인처럼 2뎁스 메뉴가 없는경우 .lnb를 삭제한다.
				-->
				<div class="lnb">
					<ul>
						<li><a href="#none" class="depth1" tabindex="-1">회원탈퇴</a>
							<ul class="snb">
								<li><a href="#" title="비밀번호 변경 페이지로 이동">비밀번호 변경</a></li>
								<li><a href="#" title="아이디비번찾기 페이지로 이동">아이디/비밀번호 찾기</a></li>
								<li><a href="#" class="active" title="회원탈퇴 페이지로 이동">회원탈퇴</a></li>
								<li><a href="#" title="휴면계정해제 페이지로 이동">휴면계정해제</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<section>
			<h2>회원탈퇴</h2>
			<div class="container">
				<div class="page-header">
					<span>회원탈퇴</span>
					<ul>
						<li><i class="far fa-print"></i></li>
					</ul>
				</div>
				<div class="contents">

					<div class="withdrawal">

						<div class="box-skew">
							<div>
								<strong>한국전기안전공사 <span>민원처리시스템의 회원을 탈퇴</span>하시겠습니까?</strong>
								<span>회원을탈퇴할 경우, 회원정보는 삭제되며 민원신청 이력을 홈페이지를통하여 확인할 수 없습니다.<br>다만, 다음의사유에 해당하는 경우 해당사유 종료 시까지 정보를 보유할 수 있습니다.</span>
								<ul>
									<li>1) 관계 법령 위반에 따른 수사/ 조사 등이 진행 중인 경우에는 해당 수사/조사 종료 시까지</li>
									<li>2) 홈페이지 이용에 따른 채권/채무관계 잔존 시에는 해당 채권/채무관계 정산 시까지</li>
								</ul>
							</div>
						</div>

						<table data-table="table" class="th-left td-left">
							<colgroup>
								<col width="15%">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th>비밀번호 확인</th>
									<td>
										<input type="text">
									</td>
								</tr>
								<tr>
									<th>탈퇴사유선택</th>
									<td>
										<div class="custom-check">
											<input type="radio" id="checktest01" name="withdrawal" value="0">
											<label for="checktest01"><span>전기설비 운영중단</span></label>
										</div>
										<div class="custom-check">
											<input type="radio" id="checktest02" name="withdrawal" value="0">
											<label for="checktest02"><span>사이트 이용 빈도 낮음</span></label>
										</div>
										<div class="custom-check">
											<input type="radio" id="checktest03" name="withdrawal" value="0">
											<label for="checktest03"><span>서비스 불만</span></label>
										</div>
										<div class="custom-check">
											<input type="radio" id="checktest04" name="withdrawal" value="0">
											<label for="checktest04"><span>개인정보 유출 우려</span></label>
										</div>
										<div class="custom-check">
											<input type="radio" id="checktest05" name="withdrawal" value="1">
											<label for="checktest05"><span>기타 </span></label>
										</div>
										<textarea class="withdrawalTxt"></textarea>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="buttonGroup align-center">
							<button type="button" class="btn-large btn-bg-blue">회원탈퇴</button>
						</div>

					</div>

				</div><!-- //contents -->

			</div>
		</section>

		<footer>
			<div class="container">
				<ul>
					<li><a href="http://www.kesco.or.kr/index.do" target="_blank" title=" 한국전기안전공사 새창 바로가기">한국전기안전공사</a></li>
					<li><a href="#" target="_blank" title="전기안전포탈시스템 새창 바로가기">전기안전포탈시스템</a></li>
					<li><a href="http://stc.kesco.or.kr/msi/cntntsService.do?menuId=MNU_0000000000000334" target="_blank" title="안전인증센터 새창 바로가기">V-체크마크 공인시험(안전인증센터)</a></li>
					<li><a href="http://newedu.kesco.or.kr/main/index.jsp" target="_blank" title="전기안전기술교육원 새창 바로가기">전기안전기술교육원</a></li>
					<li><a href="http://re.kesco.or.kr/index.do" target="_blank" title="전기안전연구원 새창 바로가기">전기안전연구원</a></li>
					<li><a href="#" target="_blank" title="공공기관 창의경영시스템 새창 바로가기">공공기관 창의경영시스템</a></li>
				</ul>
				<div>
					<a href="#" title="개인정보처리방침 바로가기">개인정보처리방침</a><a href="#" title="이메일무단수집거부 바로가기">이메일무단수집거부</a><a href="#" title="이용약관 바로가기">이용약관</a>
					<address>[55365]전북 완주군 이서면 안전로 111</address>
					<p>COPYRIGHT 2009 KOREA ELECTRICAL SAFETY CORPORATION. All Right Reserved </p>
				</div>
			</div>
		</footer>
	</div>

	<script>
		// 페이지 개별 스크립트
		$(document).ready(function() {
			$('input:radio[name=withdrawal]').click(function(){

				if ($('input[name=withdrawal]:checked').val() == '1'){
					$('.withdrawalTxt').addClass('active');

				} else if ($('input[name=withdrawal]:checked').val() == '0'){
					$('.withdrawalTxt').removeClass('active');
				}
			});
		});
	</script>

</body>
</html>
